{% extends "linkcheck/base_linkcheck.html" %}
{% load i18n %}
{% load  linkcheck_model_tags %}
{% block extrahead %}
{{ block.super }}

{% endblock %}

{% block innercontent %}

    <div id="linkcheck-nav">
        <strong>{% translate "Show" %}:</strong>&nbsp;&nbsp;
	{% if filter == 'show_valid' %}{% translate "Valid links" %}{% else %}<a href="?filters=show_valid">{% translate "Valid links" %}</a>{% endif %}&nbsp;&nbsp;
        {% if filter == 'show_invalid' %}{% translate "Broken links" %}{% else %}<a href="?filters=show_invalid">{% translate "Broken links" %}</a>{% endif %}&nbsp;&nbsp;
        {% if filter == 'show_unchecked' %}{% translate "Untested links" %}{% else %}<a href="?filters=show_unchecked">{% translate "Untested links" %}</a>{% endif %}&nbsp;&nbsp;
        {% if filter == 'ignored' %}{% translate "Ignored links" %}{% else %}<a href="?filters=ignored">{% translate "Ignored links" %}</a>{% endif %}
            (<span id="ignored_count">{{ ignored_count }}</span>)
        <br />
    </div>

    {% for content_type in content_types_list %}
        <table class="objecttype">
            <tr class="type-header"><td class="header-cell"><h2>{{content_type.content_type|get_verbose_name_plural}}</h2>
                {% for object in content_type.object_list %}
                    <div class="object">
                        <h3 class="header-report">{{report_type}} in '{{object.object}}'</h3>&nbsp;&nbsp;
                        <a class="header-link" href='{{object.object.get_absolute_url}}'>{% blocktrans with content_type_name=content_type.content_type.name %}View {{ content_type_name }}{% endblocktrans %}</a>&nbsp;&nbsp;
                        {% if object.admin_url %}<a class="header-link" href='{{ object.admin_url }}'>{% blocktrans with content_type_name=content_type.content_type.name %}Edit {{ content_type_name }}{% endblocktrans %}</a>{% endif %}
                        <table class="links">
                            <th class="header-table-big">{% translate "Destination" %}</th>
                            <th class="header-table-small">{% translate "Linked Text" %}</th>
                            <th class="header-table-small">{% translate "Field to edit" %}</th>
                            <th class="header-table-small">{% translate "Status" %}</th>
                            <th></th>
                            <th></th>
                            {% for link in object.link_list %}
                                <tr id="link{{ link.id }}">
                                    <td><a href='{{link.url}}' target='_blank'>{{link.display_url}}</a></td>
                                    <td>{% if link.text == "empty" %}none{% else %}"{{link.text}}"{% endif %}</td>
                                    <td>{{link.field}}</td>
                                    <td class="link_message emphasis coloured-{{link.url.colour}}">{{link.url.message}}</td>
                                    <td class="actioncell">
                                        {% if not link.url.status %}
                                            <form class="recheck" action="{{ request.META.PATH_INFO }}?{% if request.META.QUERY_STRING %}{{ request.META.QUERY_STRING }}&{% else %}{% endif %}recheck={{ link.id }}"><input type="submit" value="{% translate "Recheck" %}" /></form>
                                        {% endif %}
                                    </td>
                                    <td class="actioncell">
                                        {% if not link.url.status %}
                                            {% if link.url.external %}
                                                {% if not link.ignore %}
                                                    <form class="ignore" action="{{ request.META.PATH_INFO }}?{% if request.META.QUERY_STRING %}{{ request.META.QUERY_STRING }}&{% else %}{% endif %}ignore={{ link.id }}"><input type="submit" value="{% translate "Ignore" %}" /></form>
                                                {% else %}
                                                    <form class="unignore" action="{{ request.META.PATH_INFO }}?{% if request.META.QUERY_STRING %}{{ request.META.QUERY_STRING }}&{% else %}{% endif %}unignore={{ link.id }}"><input type="submit" value="{% translate "Unignore" %}" /></form>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% if link.url.redirect_to %}
                                    <tr><td colspan="6">R{% translate "Redirects to" %}: <a href="{{ link.url.redirect_to }}" target="_blank">{{ link.url.redirect_to }}</a></td></tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                {% endfor %}
            </td></tr>
        </table>
    {% endfor %}
    {% csrf_token %}
    {% if content_types_list %}
        {% include "linkcheck/paginator.html" %}
    {% endif %}
{% endblock %}
